<!doctype html>
<html lang="en" ng-app='CheckOffShoppingList'>
  <head>
    <title>Bob's Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>

<body>
    <div class="container">

        <h1>Bob's Shopping List Check Off</h1>

        <div class="row" ng-controller="BuyListController as BLC">

            <!-- To Buy List -->
            <div class="col-md-6" >
                <h2>To Buy:</h2>
                <ul>
                    <li ng-repeat="item in BLC.buyList">Buy {{item.quantity}} {{item.name}}
                        <button ng-click="BLC.buyItem($index)">BOUGHT</button>
                    </li>
                </ul>

                <div class="emptyMessage" ng-if="BLC.getSizeOfBuyList()==0">Everything is bought!</div>
            </div>

            <!-- Already Bought List -->
            <div class="col-md-6" >
                <h2>Already Bought:</h2>
                <ul>
                    <li ng-repeat="item in BLC.boughtList">Bought {{item.quantity}} {{item.name}}
                        <button ng-click="BLC.returnItem($index)">REMOVE</button>
                    </li>
                </ul>
                <div class="emptyMessage" ng-if="BLC.getSizeOfBoughtList()==0">Nothing bought yet.</div>
            </div>

        </div>

    </div>
</body>

</html>
